.center {
    text-align: center;
}

.selectable:hover {
    cursor: pointer
}

.bold {
    font-weight: bold;
}

.enlarge {
    font-size: 1.2em;
}

.shrink {
    font-size: 0.8em;
}

.emphasis {
    color: red;
    font-weight: bold;
}

.emphasisHover:hover {
    color: rgb(129, 2, 2);
}

.primaryColorBg {
    background-color: rgb(107, 106, 210) !important;
    border-color: rgba(0,0,0,0) !important;
}

.primaryColorBgHover:hover {
    background-color: rgb(107, 146, 210) !important;
}

.largeBtnEffect:hover {
    border-radius: 20px;
}

.primaryColor {
    color: rgb(107, 106, 210) !important;
}

.primaryColorHover:hover {
    color: rgb(107, 146, 210) !important;
}

.pad {
    padding: 1em;
}

.margin {
    margin: 1em;
}

.selectable {
    text-decoration: underline;
}

.selectableHover:hover {
    cursor: pointer;
}

.selectable:hover {
    cursor: pointer;
}

.cardBtn {
    width: 100%;
}

.round {
    border-radius: 50%;
}

.secondaryColor {
    color: rgb(29, 74, 103) !important;
}

.secondaryColorBg {
    background-color: rgb(29, 74, 103) !important;
    border-color: rgba(0,0,0,0) !important;
}

.secondaryColorBgHover:hover {
    background-color: rgb(54, 130, 162) !important;
}

.secondaryColorHover:hover {
    color: rgb(54, 130, 162) !important;
}

.tertiaryColor {
    color: rgb(228, 193, 153) !important;
}

.tertiaryColorBg {
    background-color: rgb(228, 193, 153) !important;
    border: rgba(0,0,0,0) !important;
}

.tertiaryColorBgHover:hover {
    background-color: rgb(225, 219, 203) !important;
}

.tertiaryColorReverseBg {
    background-color: rgb(225, 219, 203) !important;
    border-color: rgba(0,0,0,0) !important;
}

.tertiaryColorReverseBgHover:hover {
    background-color: rgb(228, 193, 153) !important;
}

.tertiaryColorHover:hover {
    color: rgb(225, 219, 203) !important;
}

::selection {
    background-color: rgba(29, 74, 103, 0.5);
    color: rgb(228, 193, 153);
}

a {
    color: rgb(107, 106, 210);
}

a:hover {
    color: rgb(107, 146, 210);
}

a::after {
    color: rgb(29, 74, 103);
}

.grey {
    color: grey;
}

.backdropWhole {
    background-color: rgba(0,0,0,0.5);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.backdrop {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.flexColAndCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.backgroundImg {
  position: absolute; 
  z-index: 5;
  display: block; 
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.backgroundImgFlex {
  position: absolute; 
  z-index: 5;
  display: block;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frontTextWrapper {
  position: relative;
  z-index: 999;
  top: 0;
  width: 100%; 
  height: 100%;
  display: flex;
  flex-direction: column;
}

.padLeft {
    padding-left: 0.4em;
}