.center {
    text-align: center;
}

.selectable:hover {
    cursor: pointer
}

.bold {
    font-weight: bold;
}

.enlarge {
    font-size: 1.2em;
}

.shrink {
    font-size: 0.8em;
}

.emphasis {
    color: red;
    font-weight: bold;
}

.emphasisHover:hover {
    color: rgb(129, 2, 2);
}

.primaryColorBg {
    background-color: rgb(107, 106, 210) !important;
    border-color: rgba(0,0,0,0) !important;
}

.primaryColorBgHover:hover {
    background-color: rgb(107, 146, 210) !important;
}

.largeBtnEffect:hover {
    border-radius: 20px;
}

.primaryColor {
    color: rgb(107, 106, 210) !important;
}

.primaryColorHover:hover {
    color: rgb(107, 146, 210) !important;
}

.pad {
    padding: 0.7em;
}

.margin {
    margin: 0.7em;
}

.selectable {
    text-decoration: underline;
}

.selectableHover:hover {
    cursor: pointer;
}

.selectable:hover {
    cursor: pointer;
}

.cardBtn {
    width: 100%;
}

.round {
    border-radius: 50%;
}

.secondaryColor {
    color: rgb(29, 74, 103) !important;
}

.secondaryColorBg {
    background-color: rgb(29, 74, 103) !important;
    border-color: rgba(0,0,0,0) !important;
}

.secondaryColorBgHover:hover {
    background-color: rgb(54, 130, 162) !important;
}

.secondaryColorHover:hover {
    color: rgb(54, 130, 162) !important;
}

.tertiaryColor {
    color: rgb(228, 193, 153) !important;
}

.tertiaryColorBg {
    background-color: rgb(228, 193, 153) !important;
    border: rgba(0,0,0,0) !important;
}

.tertiaryColorBgHover:hover {
    background-color: rgb(225, 219, 203) !important;
}

.tertiaryColorReverseBg {
    background-color: rgb(225, 219, 203) !important;
    border-color: rgba(0,0,0,0) !important;
}

.tertiaryColorReverseBgHover:hover {
    background-color: rgb(228, 193, 153) !important;
}

.tertiaryColorHover:hover {
    color: rgb(225, 219, 203) !important;
}